# Base de datos PostgreSQL
DB_HOST=localhost
DB_PORT=5432
DB_NAME=balconeria_db
DB_USER=postgres
DB_PASSWORD=tu_password_aqui

# Puerto del servidor
PORT=3001

# Secreto para firmar JWT (pon una cadena larga y aleatoria)
JWT_SECRET=cambia_esto_por_una_clave_secreta_muy_larga_2025

# Entorno
NODE_ENV=development
